@{

}
<div class="center-block" ng-controller="FetchCtrl">
<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <form class="form-inline" action="false">
            <div class="form-group">
                <label for="select">Method</label>
            <select ng-options="selected as selected.name for selected in selectables track by selected.value" ng-model="selected" id="select"> 
                @*<option value="get" name="get">Get</option>
                <option value="head">Head</option>*@
            </select>
            <label for="urlBox">URL</label>
            <textarea id="urlBox" ng-model="userURL" placeholder="http://www.reddit.com/"></textarea>
            <button type="button" class="btn" id="fetch" ng-click="fetchURL(selected.value)">Fetch</button>
            <button class="btn" id="store" ng-click="storeData()">Store</button>
            </div>
        </form>
        <div id="responseBox">
            <p ng-model="userURL">{{userURL}}</p>
            <p ng-model="status">{{status}}</p>
            <p ng-model="method">{{method}}</p>
        </div>
    </div>
</div>
    </div>
